<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RetryFailedTestSuite" verbose="2">
<listeners>
  		<listener class-name="analyzer.MyTransformer"/> 		
  	</listeners>
  <test name="RetryMultipleFailedTestCases">
  	    <classes>
      <class name="org.qa.seleniumDemo.MyTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
